.ch_list {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.ch_list a {
    text-align: left;
    width: 100%;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: rgb(15, 15, 15);
    padding: 10px 20px;
}
.ch_list li {
    height: 100%;
    overflow: hidden;
}
.ch_list a:hover {
    background-color: rgb(199, 190, 190);
}
.ch_icon {
    border-radius: 25px;
    height: 50px;
}
.ch_image {
    border-radius: 50px;
    height: 100px;
    float: left;
    margin: 10px;
}
.ch_heading {
    text-align: left;
}