html {
    background-image: url(../images/bg.jpeg);
}
body {
    margin: 0 auto;
    width: 960px;
    height: 700px;
    background-color: white;
    text-align: center;
    
}
.user_image {
    border-radius: 80px;
    border: 3px solid grey;
    height: 160px;
}
#logo img {
    height: 47px;
    vertical-align: middle;
    padding: 0;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(238, 137, 79);
}
.menu li {
    float: left;
}
.menu li a {
    padding: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(15, 15, 15);
}
.menu li a:not(#logo) {
    padding: 14px 16px;
}
.menu a:hover {
    background-color: #0066FF;
}
.menu a:active {
    background: gray;
    color: gray;
}
table {
    border-collapse: collapse;
    border: 1px solid gray;
}
th, td {
    padding: 10px 15px;
}
  